VITE_apiKey=
VITE_authDomain=
VITE_projectId=
VITE_storageBucket=
VITE_messagingSenderId=
VITE_appId=
VITE_IMGBB_API_KEY=

DB_USER=
DB_PASSWORD=
CLIENT_DOMAIN=http://localhost:5173
PORT=3000
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
FB_SERVICE_KEY=